body {
    background-color: rgb(232, 232, 232);
    color: rgba(0, 0, 0, 0.870588);
    direction: ltr;
    font-family: Roboto, "Droid Sans", arial, sans-serif;
    font-size: 13px;
    min-width: 360px;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0px;
    padding: 0px;
}


/* pre loader styles */

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin 3s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}


/*side bar styles*/

md-sidenav {
    width: 300px;
}

md-sidenav-layout {
    background: rgba(0, 0, 0, 0.03);
}

md-list-item a {
    font-size: 13px;
    text-decoration: none;
    color: #212121;
}

div.md-list-item:hover {
    background-color: #E8E8E8;
}

div.md-list-item:hover .fa-tag:before {
    content: "\f040";
    cursor: hand;
}

.labelForm-actions {
    color: grey;
}

.labelForm-actions:hover {
    font-weight: bold;
    color: black;
}


/*content styles*/

.md-sidenav-content {
    padding: 20px;
}


/* md-toolbar styles*/

.fill-remaining-space {
    flex: 1 1 auto;
}

md-toolbar md-icon {
    color: grey;
    cursor: hand;
}

md-toolbar md-icon:hover {
    color: black;
}

md-card .demo-full-width {
    width: 100%;
}

md-card textarea {
    overflow: hidden;
    height: 48px;
    z-index: auto;
    position: relative;
    line-height: 24.2857px;
    font-size: 17px;
    transition: none;
    background: transparent !important;
    border: none;
    resize: none;
    outline: none;
}


/*validation styles*/

control-messages div {
    color: #E82C0C;
    font-size: 13px;
}
